Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  modernize-*,
  readability-*,
  misc-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -misc-include-cleaner,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-special-member-functions,
  cppcoreguidelines-prefer-member-initializer,
  cppcoreguidelines-slicing,
  cppcoreguidelines-virtual-class-destructor,
  cppcoreguidelines-narrowing-conversions,
  cppcoreguidelines-owning-memory
WarningsAsErrors: ''
HeaderFilterRegex: '.*/firmware/(main|components)/.*'
